.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #3c6695;
  border-color: #3c6695;
}
.btn-primary{
  background-color: #3c6695;
  &:hover{
    background-color: #3c6695 !important;
  }
  &:active{
    background-color: #3c6695 !important;
  }
  &:focus{
    background-color: #3c6695 !important;
  }
}